* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin' sans-serif;
    box-sizing: border-box;
}
 body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;    
    background-image: linear-gradient(to bottom right, #000000,#41005b );
 }


.nav-link {
    font-family: 'Josefin sans';
}

.nav-link:hover {
    background-color: rgb(80, 0, 156);
    border: 3px solid blueviolet;
}

.toggler {
    color: white;
}

#card {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

input::placeholder {
    color: white;
}

input {
    border: none;
    border-bottom: 3px solid white;
    color: white;
}

textarea::placeholder {
    color: white;
}

textarea {
    border: none;
    border-bottom: 3px solid white;
    color: white;
}

form .button {
    color: rgb(80, 0, 156);
}

.header {
    text-shadow: 3px 3px 1px #000;
}

#fixed {
    background: url('./images/background.png') no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}
 .welcome {
    display: table-cell;
    vertical-align: middle;
 }

 .btn-primary {
    background-color: #520073;
    border: none;
    box-shadow: 2px 2px 2px black;
    margin-right: 3px;
 }

 #welcome {
    text-shadow: 2px 2px 3px black;
 }

 #slogan {
    text-shadow: 2px 2px 3px black;
 }

 .btn-primary:hover {
    background-color: #fff;
    color: #520073;
 }

 .btn-light {
    color: #520073;
    box-shadow: 2px 2px 2px black;
    margin-left: 5px;
 }

 .btn-light:hover {
    color: #fff;
    background-color: #520073;
    border: none;
 }

 #portfolio {
    border: 2px solid #520073;
    box-shadow: 2px 4px 6px black;
 }

 .card-img-top {
    height: 250px;
 }

 @media (max-width: 768px) {
    #fixed {
        background: url('./images/tablet-background.png') no-repeat center center fixed;
        display: table;
        height: 100%;
        position: relative;
        width: 100%;
        background-size: cover;
    }
 }

 @media (max-width: 576px) {
    #fixed {
        background: url('./images/tablet-background.png') no-repeat center center fixed;
        display: table;
        height: 100%;
        position: relative;
        width: 100%;
        background-size: cover;
    }
 }